.Pokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.Pokemon__card {
  align-items: center;
  background-color: #e5e5e5;
  box-shadow: 1px 1px 3px #777;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 12px 20px; }
  .Pokemon__card img {
    cursor: pointer;
    height: 96px;
    width: 96px; }
